@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(0, 12, 29);
  --primary-color-darker: rgb(45, 0, 206);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.clean,
.btn-add-task,
.Done {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #000;
  box-shadow: rgba(32, 17, 116, 0.8);
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.4s;
}
.clean:hover,
.btn-add-task:hover,
.Done:hover {
  background-color: #fff;
  color: #000;
}
.input-task {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
ul {
  position: relative;
  max-width: 500px;
}
span {
  color: red;
}
